root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.md]
indent_size = 4

[*.yaml]
indent_size = 2

[Makefile]
indent_style = tab

[*.go]
indent_style = tab

[Dockerfile*]
indent_size = 8
indent_style = tab
