name: Generate staging manifest

on:
  repository_dispatch:
    types: ["staging-manifest"]
  # the push is for hacking on this without pushing to the main branch of catalyst
  push:
    branches:
      - staging-generator

jobs:
  staging-manifest:
    name: Generate manifest file for staging environment
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          # Check https://github.com/livepeer/go-livepeer/pull/1891
          # for ref value discussion
          ref: main
          persist-credentials: false

      - name: Set up go
        id: go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: go.sum

      - name: Install go modules
        if: steps.go.outputs.cache-hit != 'true'
        run: go mod download

      - name: Generate new manifest
        run: |
          go run cmd/downloader/downloader.go -v=9 --manifest=./manifest.yaml --download=false --update-manifest=true

      - name: Commit and push changes
        id: branch-commit
        uses: devops-infra/action-commit-push@v0.9.2
        env:
          GIT_COMMITTER_DATE: "Fri Sep 8 10:55:23 2023 -0700"
          GIT_AUTHOR_DATE: "Fri Sep 8 10:55:23 2023 -0700"
        with:
          github_token: ${{ secrets.PUSH_TOKEN }}
          target_branch: staging
          commit_prefix: "[AUTO-COMMIT] "
          commit_message: "Update `manifest.yaml`"
          force: true

      - name: Create pull request
        uses: devops-infra/action-pull-request@v0.5.5
        with:
          github_token: ${{ secrets.PUSH_TOKEN }}
          source_branch: ${{ steps.branch-commit.outputs.branch_name }}
          target_branch: main
          title: "[BOT] Update `manifest.yaml` for staging"
          reviewer: iameli, thomshutt
          assignee: ${{ github.actor }}
          label: enhancement
          get_diff: true
          allow_no_diff: false
